
<script>
    $("#actionRadius").ionRangeSlider({
        min: 1,
        max: 100,
        from: 30,
    });


    if ($("#cardPoiMap").length === 1) {
        var marker = false;
        var mymap = L.map('cardPoiMap', { 
            zoomControl:false,
            minZoom: 6,
            maxZoom: 10
        }).setView([47.76, 12.73], 8);
        L.tileLayer('/index.php?eID=map_server&x={' + 'x}&y={' + 'y}&z={' + 'z}').addTo(mymap);

        mymap.on('click', function onMapClick(e) {
            if (marker === false) {
                marker = L.marker(e.latlng).addTo(mymap);
            } else {
                marker.setLatLng(e.latlng);
            }
            $("#longitude").val(e.latlng.lng);
            $("#latitude").val(e.latlng.lat);
        });

        $("#longitude").change(function () {
            if (marker !== false) {
                marker.setLatLng({
                    lat: marker._latlng.lat,
                    lng: $("#longitude").val()
                });
            }
        });

        $("#latitude").change(function () {
            if (marker !== false) {
                marker.setLatLng({
                    lat: $("#latitude").val(),
                    lng: marker._latlng.lng
                });
            }
        });

    }


</script>
