<f:form.hidden style="display: none" id="file-uid"  name="fal-file-uid" value="" />


<div id="fileBrowser" class="modal fade" tabindex="-1" role="dialog"  aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row" style="width: 100%;">
                    <div class="col-12 text-right" >
                        <button type="button" class="btn btn-warning waves-effect waves-light" data-dismiss="modal" >Auswahl speichern und schließen</button>
                        <button type="button" class="btn btn-danger waves-effect waves-light" data-dismiss="modal" onclick="removeValueFromInput()" >Alle Bilder entfernen und schließen</button>
                    </div>

                </div>
            </div>
            <div class="modal-body loadingTarget">
                Dateien wird geladen, bitte warten...
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<button type="button" class="btn btn-info waves-effect waves-light mt-4" data-toggle="modal" data-target="#fileBrowser">Dateibrowser öffnen</button><br />
<p>
    Es <span id="imgCountDisplay">sind keine Bilder</span> ausgewählt
</p>

<script>

    function removeValueFromInput() {
        $('#file-uid').removeAttr('value');
        $(".fal-img-holder.selected").removeClass("selected").find(".card").removeClass("text-white bg-success");
        $("#imgCountDisplay").text("sind keine Bilder");
    }

    var $grid, qsRegex = 0, defaultFilter, filesLoaded = false;
    
    function debounce(fn, threshold) {
        var timeout;
        threshold = threshold || 100;
        return function debounced() {
            clearTimeout(timeout);
            var args = arguments;
            var _this = this;
            function delayed() {
                fn.apply(_this, args);
            }
            timeout = setTimeout(delayed, threshold);
        };
    }

    function loadIsotope() {
        filesLoaded = true;

        document.querySelectorAll('img').forEach(function (img) {
            img.onerror = function () {
                this.style.display = 'none';
            };
        });

        $(".fal-img-holder").click(function (e) {
            e.preventDefault();

            $t = $(this);
            if ($t.hasClass("selected")) {
                $t.removeClass("selected").find(".card").removeClass("text-white bg-success");
            } else {
                $t.addClass("selected").find(".card").addClass("text-white bg-success");
            }
            
            switch ($(".fal-img-holder.selected").length) {
                case 0:
                    $("#imgCountDisplay").text("sind keine Bilder");
                    break;
                case 1:
                    $("#imgCountDisplay").text("ist ein Bild");
                    break;
                default:
                    $("#imgCountDisplay").text("sind " + $(".fal-img-holder.selected").length + " Bilder");
                    break;
            }

            
            var keys = "";
            $(".fal-img-holder.selected").each(function (i, e) {
                keys += $(e).data("img-uid") + ",";
            });
            $("#file-uid").attr("value", keys);
            alert(keys);

            return false;
        });

    }

    document.addEventListener("DOMContentLoaded", function (event) {

        $("#fileBrowser").modal({
            keyboard: false,
            show: false,
            backdrop: 'static'
        }).on("show.bs.modal", function (e) {
            if (!filesLoaded) {
                $(this).find(".loadingTarget").load(parent.TYPO3.settings.ajaxUrls["listFilesForBrowser"], loadIsotope);
            }

        });

    });
</script>
