

    <div class="ln_solid"></div>
    <h2>Sub - Inhaltselemente</h2>
<f:if condition="{contentElement}" >
    <f:then>
        <f:render partial="GalleryContentSubElementList" arguments="{_all}" />
    </f:then>
    <f:else>
        <div class="alert alert-info">
            Sie können erst unterinhaltselemente anlegen, wenn Sie das neue Inhaltselement gespeichert haben.
        </div>

    </f:else>
</f:if>



<div class="ln_solid"></div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="teaserText">Teaser Text</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
        <f:form.textarea id="teaserText" property="teaserText" class="col-md-7 col-sm-7 col-xs-12 rte" />
    </div>
</div>
<div class="ln_solid"></div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Titel</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
        <f:form.textfield id="title" property="title" class="form-control col-md-7 col-xs-12"/>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="subTitle">Untertitel</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
        <f:form.textfield id="subTitle" property="subTitle" class="form-control col-md-7 col-xs-12"/>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="text">Text</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
        <f:form.textarea id="text" property="text" class="col-md-7 col-sm-7 col-xs-12 rte" />
    </div>
</div>
<div class="ln_solid"></div>

<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sorting">Sortierung</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
        <f:form.textfield id="sorting" property="sorting" type="number" class="form-control col-md-7 col-xs-12"/>
    </div>
</div>

<f:render partial="MediaFormField" arguments="{_all}" />
