<visit:galeryContentLayout>

    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="layout">Layout des Inhaltes <span class="required">*</span></label>
        <div class="col-md-9 col-sm-9 col-xs-12">

            <f:form.select
                    class="form-control col-md-7 col-xs-12"
                    id="layout"
                    property="layout"
                    options="{galeryContentLayouts}"
            />
            <f:debug>{_all}</f:debug>
            
        </div>
    </div>

</visit:galeryContentLayout>