
<div class="ln_solid"></div>

<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="teaserTitle">Titel</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
        <f:form.textfield id="teaserTitle" property="teaserTitle" class="form-control col-md-7 col-xs-12"/>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="teaserTitleEn">Titel Englisch</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
        <f:form.textfield id="teaserTitleEn" property="teaserTitleEn" class="form-control col-md-7 col-xs-12"/>
    </div>
</div>

<div class="ln_solid"></div>

<div class="form-group date date-picker">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="prisonCell">Link </label>
    <div class="col-md-9 col-sm-9 col-xs-12">
        <f:form.select id="prisonCell" property="galeryContentElement" options="{contentElements.0}" optionLabelField="title" class="form-control col-md-7 col-xs-12" />
    </div>
</div>
<div class="form-group date date-picker">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="prisonCell">Link Englisch </label>
    <div class="col-md-9 col-sm-9 col-xs-12">
        <f:form.select id="prisonCell" property="galeryContentElementEn" options="{contentElements.1}" optionLabelField="title" class="form-control col-md-7 col-xs-12" />
    </div>
</div>

<div class="ln_solid"></div>

<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sorting">Sortierung</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
        <f:form.textfield id="sorting" property="sorting" type="number" class="form-control col-md-7 col-xs-12"/>
    </div>
</div>

<div class="ln_solid"></div>

<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="fileTempPath">Media hinzufügen</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
        
        <div class="dropzone" style="min-height: auto;"></div>
        
        <f:form.hidden name="fileTempPath" id="fileTempPath" />
        
    </div>
</div>

<f:if condition="{teaserElement.media}">

    <div class="ln_solid"></div>

    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Media</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <f:for each="{teaserElement.media}" as="currentMedia">
                <div class="figure-action-wrapper">
                    <div class="action-wrapper">
                        <f:link.action action="deleteImage" arguments="{teaserElement : teaserElement, media: currentMedia}" class="askbeforedelete  btn btn-danger btn-xs">
                            <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
                        </f:link.action>
                    </div>
                    <f:render partial="SingleMedia" arguments="{media: currentMedia}"/>
                </div>
            </f:for>
        </div>
    </div>
</f:if>
