
<div class="ln_solid"></div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="teaserTitle">Teaser Titel</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
        <f:form.textfield id="teaserTitle" property="teaserTitle" class="form-control col-md-7 col-xs-12"/>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="teaserImage">Teaser Bild</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
        
        <div class="dropzone" style="min-height: auto;"></div>
        
        <f:form.hidden name="teaserImage" id="fileTempPath" />
        
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="teaserText">Teaser Text</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
        <f:form.textarea id="teaserText" property="teaserText" class="col-md-7 col-xs-12" />
    </div>
</div>
<div class="ln_solid"></div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Titel</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
        <f:form.textfield id="title" property="title" class="form-control col-md-7 col-xs-12"/>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="subTitle">Untertitel</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
        <f:form.textfield id="subTitle" property="subTitle" class="form-control col-md-7 col-xs-12"/>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="text">Text</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
        <f:form.textarea id="text" property="text" class="col-md-7 col-xs-12" />
    </div>
</div>
<div class="ln_solid"></div>

<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Sortierung</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
        <f:form.textfield id="sorting" property="sorting" class="form-control col-md-7 col-xs-12"/>
    </div>
</div>

<div class="ln_solid"></div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="media">Media hinzufügen</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
        
        <div class="dropzone" style="min-height: auto;"></div>
        
        <f:form.hidden name="media" id="fileTempPath" />
        
    </div>
</div>

<f:render partial="DropzoneJs" />