<visit:select3dObject>

    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="layout">3D-Objekt Auswählen </label>
        <div class="col-md-9 col-sm-9 col-xs-12">

            <f:form.select
                    class="form-control col-md-7 col-xs-12"
                    id="layout"
                    name="selectedObject"
                    options="{objects}"
            />
            
        </div>
    </div>

</visit:select3dObject>