<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="imprint">Text Bi-Lingual Impressum</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <f:form.textfield id="imprint" name="imprint" class="form-control col-md-7 col-xs-12" value="{imprint}" />
    </div>
</div>

<div class="ln_solid"></div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="maxx">x-max Endstop</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <f:form.textfield id="maxx" name="maxx" class="form-control col-md-7 col-xs-12" value="{maxx}" />
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="maxy">y-max Endstop</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <f:form.textfield id="maxy" name="maxy" class="form-control col-md-7 col-xs-12" value="{maxy}" />
    </div>
</div>


<div class="ln_solid"></div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="maxxpx">x Pixel</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <f:form.textfield id="maxxpx" name="maxxpx" class="form-control col-md-7 col-xs-12" value="{maxxpx}" />
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="maxypx">y Pixel</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <f:form.textfield id="maxypx" name="maxypx" class="form-control col-md-7 col-xs-12" value="{maxypx}" />
    </div>
</div>

<div class="ln_solid"></div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="screenSizeWidth">Bildschirmbreite</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <f:form.textfield id="screenSizeWidth" name="screenSizeWidth" class="form-control col-md-7 col-xs-12" value="{screenSizeWidth}" />
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="screenSizeHight">Bildschirmhöhe</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <f:form.textfield id="screenSizeHight" name="screenSizeHight" class="form-control col-md-7 col-xs-12" value="{screenSizeHight}" />
    </div>
</div>

<div class="ln_solid"></div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sensorhost">Encoder-Server URL</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <f:form.textfield id="sensorhost" name="sensorhost" class="form-control col-md-7 col-xs-12" value="{sensorhost}" />
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sensorport">Encoder-Server Port</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <f:form.textfield id="sensorport" name="sensorport" class="form-control col-md-7 col-xs-12" value="{sensorport}" />
    </div>
</div>


<div class="ln_solid"></div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="specialIconSize">POI Größe</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <f:form.textfield id="specialIconSize" name="specialIconSize" class="form-control col-md-7 col-xs-12" value="{specialIconSize}" />
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Icon-Bilder</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <p>Die Icon Bilder müssen über die Plugin-Einstellungen verändert werden. Siehe Dokumentation.</p>
    </div>
</div>


<div class="ln_solid"></div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="debugmode">Debugmodus</span>
    </label>
    <div class="col-md-9 col-sm-9 col-xs-12">
        <f:form.checkbox  id="debugmode" property="debugmode" value="{debugmode}" class="form-control" />
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="kuratormode">Kuratorenmodus</span>
    </label>
    <div class="col-md-9 col-sm-9 col-xs-12">
        <f:form.checkbox  id="kuratormode" property="kuratormode" value="{kuratormode}" class="form-control" />
    </div>
</div>

<div class="ln_solid"></div>
<div class="form-group">
    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
        <button type="submit" class="btn btn-success">Anlegen</button>
    </div>
</div>