
/* 
    Created on : 13.09.2018, 10:50:43
    Author     : RaichKrispin
*/

//colors

$titleBarBackgroundColor: #4a4a4a;
$titleBarFontColor: #fff;
$titleBarFontSize: 20px;
$titleBarSeparatorColor: #6a6a6a;

$btnPrim: #d1880f;

@at-root {
    @-ms-viewport { width: device-width; } // stylelint-disable-line at-rule-no-vendor-prefix
}
@mixin smoothen($seconds, $target: all, $transition: ease-in-out){
    -webkit-transition: $target $transition $seconds;
    -moz-transition: $target $transition $seconds;;
    -o-transition: $target $transition $seconds;;
    transition: $target $transition $seconds;;
}

html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

//get bootstrap + reboot

@import "../vendor/bootstrap/scss/functions";
@import "../vendor/bootstrap/scss/variables";
@import "../vendor/bootstrap/scss/mixins";
@import "../vendor/bootstrap/scss/reboot";
@import "../vendor/bootstrap/scss/grid";
@import "../vendor/bootstrap/scss/utilities/display";
@import "../vendor/bootstrap/scss/utilities/flex";

//init fonts
@font-face {
    font-family: "Rum Sans";
    src: local("Rum Sans Medium"), url("../fonts/RumSans-Medium.ttf") format("truetype");
    font-weight: 500; }
@font-face {
    font-family: "Rum Sans";
    src: local("Rum Sans Semibold"), url("../fonts/RumSans-Semibold.ttf") format("truetype");
    font-weight: 600; }
@font-face {
    font-family: "Rum Sans";
    src: local("Rum Sans Light"), url("../fonts/RumSans-Light.ttf") format("truetype");
    font-weight: 300; }
@font-face {
    font-family: "Rum Serif";
    src: local("Rum Serif Semibold"), url("../fonts/RumSerif-Semibold.ttf") format("truetype");
    font-weight: 600; }
@font-face {
    font-family: "Rum Serif";
    src: local("Rum Serif Bold"), url("../fonts/RumSerif-Bold.ttf") format("truetype");
    font-weight: 700; }

@font-face {
    font-family: "Titillium Sans";
    src: local("Titillium Extralight"), url("../fonts/oberhaus/Titillium_Web-ExtraLight.ttf") format("truetype");
    font-weight: 300; }
@font-face {
    font-family: "Titillium Sans";
    src: local("Titillium Light"), url("../fonts/oberhaus/Titillium_Web-Light.ttf") format("truetype");
    font-weight: 400; }
@font-face {
    font-family: "Titillium Sans";
    src: local("Titillium Regular"), url("../fonts/oberhaus/Titillium_Web-Regular.ttf") format("truetype");
    font-weight: 500; }
@font-face {
    font-family: "Titillium Sans";
    src: local("Titillium SemiBold"), url("../fonts/oberhaus/Titillium_Web-SemiBold.ttf") format("truetype");
    font-weight: 600; }
@font-face {
    font-family: "Titillium Sans";
    src: local("Titillium Bold"), url("../fonts/oberhaus/Titillium_Web-Bold.ttf") format("truetype");
    font-weight: 700; }

@font-face {
    font-family: "Titillium Serif";
    src: local("Titillium Extralight"), url("../fonts/oberhaus/Titillium_Web-ExtraLightItalic.ttf") format("truetype");
    font-weight: 300; }
@font-face {
    font-family: "Titillium Serif";
    src: local("Titillium Light"), url("../fonts/oberhaus/Titillium_Web-LightItalic.ttf") format("truetype");
    font-weight: 400; }
@font-face {
    font-family: "Titillium Serif";
    src: local("Titillium Regular"), url("../fonts/oberhaus/Titillium_Web-italic.ttf") format("truetype");
    font-weight: 500; }
@font-face {
    font-family: "Titillium Serif";
    src: local("Titillium SemiBold"), url("../fonts/oberhaus/Titillium_Web-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600; }
@font-face {
    font-family: "Titillium Serif";
    src: local("Titillium Bold"), url("../fonts/oberhaus/Titillium_Web-BoldItalic.ttf") format("truetype");
    font-weight: 700; }

.extbase-debugger{
    position: fixed;
    min-width: 33%;
    opacity: .6;
    bottom: 0;
    z-index: 9999;
}

/*.mdi::before {
    font-size: 24px;
    line-height: 14px;
}
.btn .mdi::before {
    position: relative;
    top: 4px;
}
.btn-xs .mdi::before {
    font-size: 18px;
    top: 3px;
}
.btn-sm .mdi::before {
    font-size: 18px;
    top: 3px;
}
.dropdown-menu .mdi {
    width: 18px;
}
.dropdown-menu .mdi::before {
    position: relative;
    top: 4px;
    left: -8px;
}
.nav .mdi::before {
    position: relative;
    top: 4px;
}*/

html, body{
    margin: 0;
    overflow: hidden;
    font-family: "Rum Sans";
}
body > .frame {
    position: absolute;
    height: 100%;
    width: 100%;
}
h1, h2, h3{
    font-family: "Rum Serif";
    font-weight: 600;
}
a{
    color: inherit;

    &:hover {
        color: inherit;
        text-decoration: underline;
    }
}
.btn{
    border-radius: 0.5px;
}

*[data-toggle="modal"]{
    &, *{
        cursor: pointer;
    }
}
.render3d-container{
    min-height: 200px;
}
.btn-primary{
    background-color: $btnPrim;
    border-color: $btnPrim;

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    &:hover{
        background-color: lighten($btnPrim, 20%);
        border-color: lighten($btnPrim, 20%);;
    }

    .btn-primary:not(:disabled):not(.disabled):active:focus,
    .btn-primary:not(:disabled):not(.disabled).active:focus,
    .show > .btn-primary.dropdown-toggle:focus{
        background-color: darken($btnPrim, 20%);
        border-color: darken($btnPrim, 20%);;
    }

}

.titleBar{
    background-color: $titleBarBackgroundColor;
    color: $titleBarFontColor;
    font-size: $titleBarFontSize;
    max-height: 60px;

    h1{
        font-size: $titleBarFontSize;
        display: inline;
    }

    nav{
        padding: ($titleBarFontSize - 5) $titleBarFontSize;

        .right{
            width: 50%;
            display: inline-block;
            text-align: right;
            font-size: 13px;
            vertical-align: middle;
            .mdi{
                font-size: 16px;
            }
        }
        .left{
            width: 50%;
            display: inline-block;
        }
        .fa{
            font-size: 90%;
        }
    }
    .spacer-right{
        border-right: .5px solid $titleBarSeparatorColor;
        margin-right: 15px;
        padding-right: 15px;
    }
    .spacer-left{
        border-left: .5px solid $titleBarSeparatorColor;
        margin-left: 15px;
        padding-left: 15px;
    }
}

main{
    height: calc(100% - 60px);
    background-color: aqua;
}
.imprint-logos{

    > div{
        text-align: center;
        img{
            max-height: 80px;
        }
    }

    margin: 20px 0;

}


.modal-transparent{
    .modal-content{
        background-color: transparent;
        border: 0;
        * {
            color: white;
        }
        p{
            font-size: 115%;
        }
    }
    .modal-footer{
        border: 0;
    }
    .lang-btn img{
        width: 28px;
        height: 20px;
        margin-right: 6px;
    }
}

.modal-backdrop.show {
    opacity: 0.8;
}
.btn-transparent{
    background-color: transparent;
    border: transparent;
    box-shadow: none !important;
}

iframe.warenkorb{
    border: 0;
    width: 100%;
    min-height: 969px;
}

#mapAppWrapper{

    position: relative;
    overflow: hidden;

    &,
    & > div{
        height: 100%;
    }
    /*    .leaflet-marker-pane.active{
            bgCol1:
        }*/
    #cardPoiContent{
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 999;
        width: 350px;
        /*background-color: rgba(#303030, .9);*/
        background-color: #303030;
        color: white;

        @include smoothen(0.5s);

        &.hidden{
            right: -400px;
        }

        .closeBtn{
            width: 50px;
            height: 50px;
            font-size: 31px;
            left: -25px;
            top: 63px;
            padding: 0px 9px;
            position: absolute;
            background-color: #303030;
            /*border: solid 1px #6a6a6a;*/
            border-radius: 50%;
        }
        .datapoint{
            display: none;
            &.active{
                display: block;
            }
        }
        .content-holder{
            padding: 50px 30px 30px;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            max-height: 100%;

            h1{
                font-size: 35px;
                line-height: 1.09;
                padding-bottom: 0.4em;
            }
            h2{
                font-size: 22px;
                font-weight: 600;
            }
            video,
            figure{
                > * {
                    max-width: 100%;
                    height: auto;
                }
            }
            video{
                &::-webkit-media-controls-fullscreen-button{
                    display: none !important;
                }
                &::-internal-media-controls-download-button {
                    display:none;
                }

                &::-webkit-media-controls-enclosure {
                    overflow:hidden;
                }

                &::-webkit-media-controls-panel {
                    width: calc(100% + 30px); /* Adjust as needed */
                }
            }
            p{
                font-size: 18px;
                line-height: 25px;
            }
        }
    }


    $inmateHeaderHeight: 50px;

    #inmateHeader{
        height: $inmateHeaderHeight;
        background-color: #f0f0f0;
        > *{
            display: inline-block;
        }

        *[data-filter]{
            cursor: pointer;
        }

        .menue-item {
            line-height: $inmateHeaderHeight;
            cursor: pointer;
            padding: 0 #{$inmateHeaderHeight / 1.5};
            color: #4a4a4a;
            font-weight: bold;
            font-size: 1.4rem;

            &.btn{
                margin-top: -8px;
            }

            &.active{
                color: #d1880f;
            }
        }

        .dropdown-item{
            &.active{
                background-color: #d1880f;
            }
        }
    }
    #inmateContent{
        height: calc(100% - #{$inmateHeaderHeight});

        > div{
            max-height: 100%;
            overflow: hidden;
            overflow-y: auto;
        }
        .inmateList{
            background-color: #ffffff;
            max-height: 100%;
            height: 100%;
            overflow: hidden;
            > .row{
                max-height: 100%;
                height: 100%;
            }
            .alpabet ul{
                list-style: none;
                list-style-type: none;
                padding: 0;
                margin: 0;
                text-align: center;

                -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none; /* Safari */
                -khtml-user-select: none; /* Konqueror HTML */
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none;


                li{
                    padding: 3px 0;
                    color: #d6d6d6;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 18px;
                    line-height: 18px;
                    position: relative;
                    &.active{
                        color: #d1880f;
                        &:after{
                            content: " ";
                            border-radius: 50%;
                            background-color: #d1880f;
                            position: absolute;
                            display: block;
                            left: calc(50% - 17px);
                            top: calc(50% - 3px);
                            height: 6px;
                            width: 6px;
                        }
                    }
                }

            }
            #scrolllist{

                max-height: 100%;
                overflow: hidden;
                overflow-y: auto;
                osition: relative;

                /* hide scrollbar*/
                right: -20px;

                .data-index-anchor{
                    width: 100%;

                    &:first-of-type{
                        margin-top: 50px;
                    }

                    &:last-of-type{
                        margin-bottom: 50px;
                        ul li:last-of-type{
                            border-bottom: 0;
                        }
                    }
                }


                &:not(.indexActive){
                    -webkit-overflow-scrolling: touch;
                }

                &:before, &:after{
                    content: "";
                    display: block;
                    position: fixed;
                    width: 100%;
                    height: 75px;
                    background: -moz-linear-gradient(top, rgba(225,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, rgba(225,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, rgba(225,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1ffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
                }
                &:after{
                    bottom: 0;
                    background: -moz-linear-gradient(top, rgba(225,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, rgba(225,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, rgba(225,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e1ffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
                    z-index: 1;
                }

                ul{
                    list-style: none;
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    //min-height: 3.5rem;

                    li{
                        border-bottom: 1px solid #D6D6D6;
                        padding: 5px 0;
                        line-height: 40px;
                        font-size: 25px;
                        font-weight: 500;
                        color: #303030;
                        cursor: pointer;
                        width: calc(100% - 40px);
                        min-height: 51px;
                        &.active{
                            color: #d1880f;
                            font-weight: 600;
                        }
                    }

                }
            }


        }
        .scrollWrapper{
            -webkit-overflow-scrolling: touch;
            height: 100%;
            max-height: 100%;
        }
        #inmateDetail{
            background-color: #303030;
            padding: 75px;
            min-height: 100%;
            z-index: 2;
            position: relative;

            .inmate-card{
                display: none;
                &.active{
                    display: block;
                }
            }

            * {
                color: white;
            }

            h1{
                font-family: "Rum Serif";
                font-weight: 700;
                font-size: 45px;
                font-weight: 600;
                line-height: 1.09em;
            }
            h2{
            	font-family: "Rum Sans"; 
                font-size: 27px;
                font-weight: 600;
                margin-bottom: 1em;
            }
            ul{
                list-style: none;
                list-style-type: none;
                //font-family: "LucidaGrande";
                margin: 0;
                padding: 0;
                li{
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 1.38;
                }
            }
            hr {
                margin-top: 1em;
                margin-bottom: 1em;
                border: 0;
                border-top: 1px solid rgba(#d6d6d6, 0.19);
            }
            img{
                margin-top: 1em;
                margin-bottom: 1em;
                width: 100%;
            }
            p{
                font-size: 22px;
                font-weight: 500;
                line-height: 1.38;
            }

        }
    }
}

#galery-layout{
    background: #4B4B4B;
    .row{
        .col-4{
            padding: 0;
        }
        .col-4:nth-child(2){
            padding: 0 2px;
        }
        .teaser-image{
            background: blue; //DEBUG
            width: 100%;
            background-size: cover;
            background-position: center;
        }
        .teaser-title{
            background: #fff;
            width: 100%;
            height: 128px;
            padding: 24px 21px 0;
            font-family: "Rum Serif";
            font-weight: 600;
            font-size: 24px;
            color: #4B4B4B;
        }
    }
    &.layout3{
        .teaser-image{
            height: -webkit-calc(100vh - 128px - 60px);
        }
    }
    &.layout6{
        .row:nth-child(2){
            padding: 2px 0 0;
        }
        .teaser-image{
            height: -webkit-calc((100vh - 60px) / 2 - 128px);
        }
    }
}

main#scope{
    height: 100%;
    .full {
        width: 100%;
        height: 100%;
    }
    #scopeContainer{
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        #overlay{
            position: absolute;
            top: 0;
            left: 0;
            .poi{
                transform-origin: left top;
                position: absolute;
                border-radius: 50%;
                //background-color: rgba(255,255,255,0.5);
                //box-shadow: 0px 0px 20px 20px rgba(255,255,255,0.5);
                .inside{
                    position: relative;
                    top: 50%;
                    left: 50%;
                    text-align: center;
                    -moz-transform: translateX(-50%) translateY(-50%);
                    -webkit-transform: translateX(-50%) translateY(-50%);
                    transform: translateX(-50%) translateY(-50%);
                    figure {
                        height: 100%;
                        img.poi-icon{
                            height: auto;
                            max-width: 65%;
                        }
                    }
                }
                &.active{

                }
            }
        }
        #debug{
            position: absolute;
            top: 20px;
            right: 20px;
            padding: 10px;
            background: rgba(255,255,255,0.5);
        }
        #camrtc{
            object-fit: cover;
        }
        #crosshair{
            position: absolute;
            background-image: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='UTF-8' standalone='no'?> <svg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' id='svg8' version='1.1' viewBox='0 0 58.924789 58.924789' height='58.924789mm' width='58.924789mm'> <defs id='defs2' /> <g transform='translate(-48.615745,-52.519271)' id='layer1'> <circle r='27.662395' cy='81.981667' cx='78.07814' id='path4485' style='fill:none;fill-opacity:1;stroke:%23000000;stroke-width:3.5999998;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:21.59999878,21.59999878;stroke-dashoffset:10.07999943;stroke-opacity:1' /> <circle r='1.4699829' cy='81.981667' cx='78.07814' id='path4502' style='fill:%23000000;fill-opacity:1;stroke:none;stroke-width:0.52800012;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:3.16800073, 3.16800073;stroke-dashoffset:40.81889725;stroke-opacity:1' /> </g> </svg>");
            background-size: 100%;
            width: 40px;
            height: 40px;
            left: calc(50% - 20px);
            top: calc(50% - 20px);
            left: -webkit-calc(50% - 20px);
            top: -webkit-calc(50% - 20px);
            left: -moz-calc(50% - 20px);
            top: -moz-calc(50% - 20px);
            &.veste-oberhaus{
                display: block !important;
            }
        }
        #lang-indicator{
            position: fixed;
            top: 0;
            right: 0;
            width: 100px;
            height: 100px;
            padding: 20px;
            img{
                width: 100%; 
            }
        }
    }
    .content-holder{
        display: none;
        position: absolute;
        top: 0;
        width: 100%;
        margin: auto;
        &.active{
            display: block;
        }
        &.debug{
            opacity: 0.8;
        }
        .video-holder{
            position: fixed;
            top:0;
            left: 0;
            height: 100%;
            width: 100%;
            video, figure, .datapoint{
                height: 100%;
                width: 100%;
            }
            .datapoint{
                margin-top: auto;
            }
        }
        .scroller{
            margin: 200px 25%;
            width: 50%;
            text-align: center;
            background: black;
            min-height: 600px;
            display: none;
            opacity: 0;
            &.active{
                display: inline-block;
                opacity: 1;
            }
        }
        .datapoint{
            display: none;
            margin-top: 50px;
            transition-duration: 2s;
            opacity: 0;
            color: white;
            &.active{
                display: inline-block;
                opacity: 1;
            }
        }
        &.veste-oberhaus{
            height: 100%;
            .scroller{
                position: absolute;
                left: 50%;
                bottom: 50%;
                width: 40%;
                background-image: url("/typo3conf/ext/visit_tablets/Resources/Public/Icons/Scope/textbox-oberhaus.svg");
                background-color: transparent;
                background-size: cover;
                padding: 0.5em 4em 5em 5em;
                margin: 0;
                min-height: auto;
                text-align: left;
                font-family: "Titillium Sans";
                .datapoint{
                    color: white;
                    margin-top: 5px;
                    div.desc-text{
                        font-size: 18px;
                        display:inline;
                    }
                    h1, h2{
                        font-size: 20px;
                    }
                    img{
                        max-width: 100%;
                    }
                }
            }
        }
    }
}

// Galery
#galery-content-holder{
    background: #303030;
    color: #ffffff;
    height: 100%;
    position: relative;
    
    .text-content{
        padding: 2% 5%;
    }
    
    .swiper-container {
        width: 100%;
        height: 100%;
    }

    figure{
      margin: 0;
    }
    
    .galery-content-layout{
        overflow-y: scroll;

        .row.intro{
          background-color: black;
          max-height: 40vh;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;

          h1{
            padding: 0 2em;
          }

          .img-fluid{
            height: 40vh !important;
            width: 50vw !important;
            object-fit: cover;
            object-position: top;
          }
        }

        .row.subs{
            min-height: 45vh;
            overflow-y: hidden;

            h2{
                display: none;
            }

            .img-fluid{
                height: 35vh;
                max-height: 35vh;
                object-fit: contain;
                object-position: left;
            }

            a{
                color: #D1880F;
            }

        }

        .dark{
            padding: 3%;
            border-bottom: 2px solid #4a4a4a;

            .left-title{
                display: block !important;
            }

            figure{
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .img-fluid{
                padding-top: 2em;
                object-fit: contain !important;
            }
        }

        .light{
            background-color: white;
            margin: 0 !important;
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;

            h2{
                color: #D1880F;
            }

            .col-4{
                padding: 0;
            }

            .col-8{
                padding: 0 4em;
            }

            .img-fluid{
                object-fit: cover !important;
                height: 45vh !important;
                max-height: 45vh !important;
                width: 40vw;
            }

            .right-title{
                display: block !important;
            }
        }

        .addReadMore .readMore,
        .addReadMore .readLess {
            font-weight: bold;
            letter-spacing: 0.1em;
            color: #D1880F;
            cursor: pointer;

            i{
                margin-right: 0.5em;
            }

            p{
                margin-bottom: 2em !important;
            }
        }

        .readMore .readLess{
            margin: 2em !important;
        }

        .addReadMore.showlesscontent .SecSec,
        .addReadMore.showlesscontent .readLess {
            display: none;
        }
     
        .addReadMore.showmorecontent .readMore {
            display: none;
        }
     
        .addReadMoreWrapTxt.showmorecontent .SecSec,
        .addReadMoreWrapTxt.showmorecontent .readLess {
            display: block;
        }
    }
    

    .row.media-holder{
        height: 100%;
        video{
            height: 100%;
            width: 100%;
        }
    }
    
    .galery-image{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }
    
    .swiper-pagination-bullet-active{
        background: #CA8B11;
    }
    
    .text-content{
        max-height: 100%;
        overflow-y: hidden;
    }
}

.lang-content{
    display: none;
}
body.lang-de .lang-de,
body.lang-en .lang-en{
    display: inline-block;
}

.valign{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
